{
    "env": {
        "browser": true,
        "es2021": true,
        "cypress/globals": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "cypress"
    ],
    "rules": {
        "linebreak-style": "off",
        "import/prefer-default-export": "off",
        "import/no-default-export": "error",
        "object-curly-newline": ["error", { "multiline": true }],
        "react/prop-types": "off"
    }
}
