.containerStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
};
  
.titleStyle {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    width: 100%;
};
  
.vidStyle {
    padding: 15px;
    height: 100%;
    min-height: 337.5px;
    max-height: 1080px;
    min-width: 600px;
    width: 100%;
    max-width: 1920px;
};

.react-player {
    aspect-ratio: 16 / 9;
}