name: Run Cypress Tests

on:
  push:

jobs:
  run-cypress-tests:
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        container: [1, 2]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: Install empirica
        run: curl https://install.empirica.dev | sh

      - name: Ensure Chrome is consistent
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          google-chrome --version

      - name: Cypress run
        uses: cypress-io/github-action@v6.7.1
        with:
          working-directory: cypress
          build: npm run build
          start: npm run start
          browser: chrome
          record: true
          parallel: true
          group: "CI RUN"
          ci-build-id: ${{ github.run_id }}
          wait-on: "http://localhost:3000"
          wait-on-timeout: 600
          spec: e2e/*.{js,jsx,ts,tsx}
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          DELIBERATION_MACHINE_USER_TOKEN: ${{ secrets.DELIBERATION_MACHINE_USER_TOKEN }}
          DAILY_APIKEY: ${{ secrets.DAILY_APIKEY }}
          QUALTRICS_API_TOKEN: ${{ secrets.QUALTRICS_API_TOKEN }}
          QUALTRICS_DATACENTER: ${{ secrets.QUALTRICS_DATACENTER }}
          GITHUB_PRIVATE_DATA_OWNER: Watts-Lab
          GITHUB_PUBLIC_DATA_OWNER: Watts-Lab
          GITHUB_PRIVATE_DATA_REPO: deliberation-data-test
          GITHUB_PUBLIC_DATA_REPO: deliberation-data-test
          GITHUB_PRIVATE_DATA_BRANCH: private-test
          GITHUB_PUBLIC_DATA_BRANCH: public-test
          ETHERPAD_BASE_URL: http://localhost:9001/etherpad
          ETHERPAD_API_KEY: doremiabc123babyyouandme
          CONTAINER_IMAGE_VERSION_TAG: cypress-test
