name: Docs build

on:
  pull_request:
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - ".readthedocs.yaml"
  workflow_dispatch: {}

jobs:
  mkdocs-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install MkDocs
        run: |
          python -m pip install --upgrade pip
          python -m pip install mkdocs

      - name: Build docs
        run: |
          python -m mkdocs build --clean --config-file mkdocs.yml
