name: Register container on GHCR

on:
  workflow_dispatch:

jobs:
  build_and_register:
    runs-on: "ubuntu-latest"

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub container registry
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase the repo name
        id: meta
        run: |
          echo "repo=${GITHUB_REPOSITORY,,}" >> "$GITHUB_OUTPUT"
          echo "bundle_date=$(date +"%Y-%m-%d_%H-%M-%S")" >> "$GITHUB_OUTPUT"

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: |
            TEST_CONTROLS=disabled
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
            BUILD_SHA=${{ github.sha }}
            BUNDLE_DATE=${{ steps.meta.outputs.bundle_date }}
          tags: |
            ghcr.io/${{ steps.meta.outputs.repo }}:latest
            ghcr.io/${{ steps.meta.outputs.repo }}:${{ steps.meta.outputs.bundle_date }}
          file: ./Dockerfile

      - name: Build and push dev-controls container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: |
            TEST_CONTROLS=enabled
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
            BUILD_SHA=${{ github.sha }}
            BUNDLE_DATE=${{ steps.meta.outputs.bundle_date }}
          tags: |
            ghcr.io/${{ steps.meta.outputs.repo }}:dev-latest
            ghcr.io/${{ steps.meta.outputs.repo }}:dev-${{ steps.meta.outputs.bundle_date }}
          file: ./Dockerfile
